## Understanding of Data

#### 모델을 학습할때 영향을 주는 것들
y = ax + b
y = 종속변수
a, b = 파라미터 (알고리즘을 통해 최적값을 찾아야한다)
x = 독립변수

#### What is Feature?
- ML에서 data의 특징을 나타내는 변수
- Feature = 독립변수 = input 변수
- Table 상의 data에서 coloumn을 의미한다
- 하나의 data instance(실제 데이터)는 feature vecore로 표기한다

#### Feature vector 표기법
$x_j^(i)$
- j는 몇번째 column의 element 인지 표기
- i는 몇번째 row의 element 인지 표기

#### 공식
$ y = w_1x_1 + w_2x_2 + w_nx_n +w_0x_0 = \sum_{j=0} w_jx_j = w^Tx$
- $w_0x_0$은 상수항이다

#### Feture 가 n 개일때
- n차원 n dimension으로 차원이 늘어나고, 이렇게 차원이 늘어나는 것을 차원의 저주(curse of dimensionality) 라고 한다

#### 차원의 저주
- Data의 차원이 증가할수록 데이터를 표현하는 공간이 증가한다
    1. 희박한 벡터가 증가한다(값이 없는 feture가 늘어난다)
    2. 샘플데이터가 늘어난다(data의 분포, 모델 추정에 어려운이 생긴다)

## Data Types

Feature 별로 데이터의 유형이 다르다.

#### DB의 두가지 종류
1. 연속형 값 continuous
    - 값이 끊어지지 않고 연결됨
    ex) 온도, 평균 점수, 속도
    - 일반적인 실수의 값들이다
2. 이산형값 discrete
    - 값이 연속적이지 않은 값
    ex) 성별, 우편주소, 등수 등
    - labbel로 이루어지는 값들

#### 다른방식으로 나누어 보자
1. 숫자형값 Numeric Type
    - 정량적으로 측정 가능한 data type(실수, 정수)
    - 단위(Scale)이 있는 Inerval-scaled type
    - 비율이 있는 ratio - scaled type
    @@ 단위대로 증가해야한다
    즉, 1,2,3,4가 있다고 한다면 2가 1의 2개여야하고 계속적으로 해당 단위로 나가야한다
2. Nominal Type(명목척도)
    - Category(범주)로 분류가 가능한 Type
    - 색, 학교명, ID
    - 2개의 category로 이루어져있을 경우 binary type이라고 부른다
3. ordinal type
    - 범주로 분류가 가능하나 범주한에 순서가 있는 data
    ex) 5점척도, 병크기(대, 중, 소)
    - Why not numeric type?
        - 사람마다 scale, unit 이 다르기 때문이다
        - 순서가 있는 것 =! 배수로 증가하는것
        
#### Feture 별로 달라서 생길수 있는 문제들
- 하나의 data table도 feature 별로 Type이 다를수 있기 때문에 처리를 해야한다
- 또, 값이 크기가 크고 작은 애들이 있기 때문에 weight로 맞춰줘야 하는 작업도 필요하다

- data의 최대, 최소가 다름 -> scale에 따른 y 값의 영향
- ordinal, nominal한 값들을 어떻게 표현할 것인가?
- 잘못 기입된 값처리
- 값이 없는 경우는 어떻게 처리해야하나
- 극단적으로 크고 작은값은 어떻게 처리하나

----

## Loading with Pandas

1. 먼저 data를 컴퓨터에 불러들여야 한다

#### 용어 설명
- Data table, Data sample = Data set 전체
- Attribute, field, feature, coloumn = Header 부분(x)
- Feature vectore = 하나의 column에 대한 모든 row의 정보
- instance, tuple, row = 1개의 row
- data value, data = data 1개

#### Data의 형식
- 일반적으로 사용하는 raw data는 binary가 아닌 text형대로 되어있다
- 사용되는 포멧은 csv, json, xml등이 있다
- 우리는 pandas를 사용해서 호출 할 것이다

#### Pandas 
- 구조화된 데이터의 처리를 지원하는 Python 라이브러리
- Numpy와 통합하여 '스프레드시트' 기능을 제공
- indexing, 연산용 합수, 전처리 함수등을 제공

## Coding: the way to bring data by using Pandas

In [5]:
import pandas as pd

In [7]:
# data 주소를 변수에 할당해준다
data_url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data'
# pandas로 데이터를 읽어오는데 pd.read_csv를 사용 ()안에는 1. 읽어올 데이터 주소, 2. seperation을 어떻게 할
# 것인지, 3. header의 유무
# \s+는 regularexpression이다 \s -> 공백, + -> 여러게 있으면 분할한다는 뜻
df_data = pd.read_csv(data_url, sep='\s+', header= None)

In [9]:
# data의 첫 5줄을 일어오는 방법
df_data.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [10]:
# .columns로 header 부분을 추가해줄수 있다
df_data.columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 
                   'TAX', 'PTRATO', 'B', 'LSTAT', 'MEDV']

In [12]:
# 확인해보자 head 안에 index를 넣어주면 해당 인덱스 만큼의 data row를 보여준다
df_data.head(20)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
5,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222.0,18.7,394.12,5.21,28.7
6,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311.0,15.2,395.60,12.43,22.9
7,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311.0,15.2,396.90,19.15,27.1
8,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311.0,15.2,386.63,29.93,16.5
9,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311.0,15.2,386.71,17.10,18.9
10,0.22489,12.5,7.87,0,0.524,6.377,94.3,6.3467,5,311.0,15.2,392.52,20.45,15.0
11,0.11747,12.5,7.87,0,0.524,6.009,82.9,6.2267,5,311.0,15.2,396.90,13.27,18.9
12,0.09378,12.5,7.87,0,0.524,5.889,39.0,5.4509,5,311.0,15.2,390.50,15.71,21.7
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307.0,21.0,396.90,8.26,20.4
14,0.63796,0.0,8.14,0,0.538,6.096,84.5,4.4619,4,307.0,21.0,380.02,10.26,18.2
15,0.62739,0.0,8.14,0,0.538,5.834,56.5,4.4986,4,307.0,21.0,395.62,8.47,19.9
16,1.05393,0.0,8.14,0,0.538,5.935,29.3,4.4986,4,307.0,21.0,386.85,6.58,23.1
17,0.78420,0.0,8.14,0,0.538,5.990,81.7,4.2579,4,307.0,21.0,386.75,14.67,17.5
18,0.80271,0.0,8.14,0,0.538,5.456,36.6,3.7965,4,307.0,21.0,288.99,11.69,20.2
19,0.72580,0.0,8.14,0,0.538,5.727,69.5,3.7965,4,307.0,21.0,390.95,11.28,18.2

----

## Numpy를 통해서 불러온 데이터에 식을 표현하는 법

Vector + matrix로 표현한다
$y = w_1x_1 + W_2x_2 + w_nx_n = \sum_{j=o}w_jx_j = w^Tx$

vector 를 aarray로 표현하기
- numpy를 이용한다

#### What is numpy?
- Numerical Python
- 일반 list 보다 빠르고 효율적이다
- 반복문 없이 데이터 배열 처리를 지원한다

## Coding: How to do it with numpy

In [13]:
import numpy as np

In [14]:
weight_vector = np.array([[1],[1],[1]])
x_vector = np.array([[3],[4],[5]])

In [15]:
weight_vector.T.dot(x_vector) #weight vector를 transpose 
#해준후에 x_vector와 곱해주기

array([[12]])

- Now we know how to make the weight vector and x_vector 
- We have the data loaded with pandas above lets use it!

In [17]:
# two things have to do with the data table first
# 1. 상수항을 만들어준다
# 2. 마지막 coloumn은 y value기 때문에 떨궈 낸다

df_data['weight_0'] = 1 # 마지막 column에 1의 value를 모두 넣어준다
# MEDV에 있는 data들을 모두 떨궈네고, 그것을 다시 df_data에 할당해준다
df_data= df_data.drop('MEDV', axis=1)

In [18]:
df_data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATO,B,LSTAT,weight_0
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,1
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,1
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,1
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,1
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,1

In [24]:
# matrix로 보고싶으면?
df_data.values[0]
#아니면
df_data.as_matrix()

array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 3.9690e+02, 4.9800e+00,
        1.0000e+00],
       [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 3.9690e+02, 9.1400e+00,
        1.0000e+00],
       [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 3.9283e+02, 4.0300e+00,
        1.0000e+00],
       ...,
       [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 5.6400e+00,
        1.0000e+00],
       [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 3.9345e+02, 6.4800e+00,
        1.0000e+00],
       [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 3.9690e+02, 7.8800e+00,
        1.0000e+00]])

In [25]:
# data의 shape을 보는법
df_data.shape

(506, 14)

데이터가 506, 14인것을 알았다
그러면 y의 값은 몇개여야할까여?
(506,1) 이여야 한다
w의 shape은?
(14,1)

이렇게 하면 (506,14) * (14,1) dot product라 가운대 값 14가 동일함으로 계산이 가능하고
506,1의 shape으로 계산이 완료된다

In [30]:
#우선 df_data를 메트릭스로 바꾸어 보자
df_matrix = df_data.as_matrix()
#(14,1)의 weight vector를 만들자
weight_vector = np.random.random_sample((14,1))
weight_vector

array([[0.41334514],
       [0.29972277],
       [0.03603915],
       [0.52009909],
       [0.2736247 ],
       [0.94947471],
       [0.76828664],
       [0.22194073],
       [0.18606714],
       [0.3989803 ],
       [0.66095212],
       [0.93081694],
       [0.2279005 ],
       [0.65479619]])

In [31]:
#서로 곱해보면??~
df_matrix.dot(weight_vector)

array([[562.49869316],
       [549.08057509],
       [531.17746688],
       [513.53941241],
       [522.80729003],
       [522.95258423],
       [569.09873216],
       [594.76646893],
       [590.20317179],
       [576.97114616],
       [589.91862881],
       [583.18037266],
       [543.75552744],
       [563.96391553],
       [566.23608673],
       [558.59187714],
       [529.37268931],
       [571.26885075],
       [444.34154376],
       [564.6563476 ],
       [575.53260722],
       [582.16948185],
       [589.58975114],
       [593.64717247],
       [588.17743001],
       [496.89205738],
       [568.60051218],
       [502.67717558],
       [582.22611831],
       [569.62473569],
       [557.73648041],
       [575.9255123 ],
       [431.13786432],
       [556.0545257 ],
       [455.7093076 ],
       [556.39226297],
       [533.49048852],
       [535.72678686],
       [524.25524077],
       [530.01830736],
       [525.27578039],
       [476.20561312],
       [476.80564792],
       [487.47031725],
       [508.81956492],
       [510.71201872],
       [511.33155082],
       [549.0029569 ],
       [562.59258168],
       [533.90597518],
       [529.65359708],
       [540.67436774],
       [510.64488478],
       [511.10461025],
       [641.62168147],
       [525.99333158],
       [569.24968314],
       [549.89571689],
       [531.55811277],
       [551.29073314],
       [565.02521138],
       [570.4973659 ],
       [567.12026659],
       [548.24158059],
       [527.47736734],
       [562.34034373],
       [573.35366209],
       [549.74988806],
       [563.12343487],
       [559.49722015],
       [507.36822339],
       [509.73864662],
       [514.36713441],
       [501.02260002],
       [554.00643725],
       [573.6553832 ],
       [587.99850043],
       [577.81165486],
       [584.11129946],
       [578.7847872 ],
       [537.84259541],
       [565.34898201],
       [536.76431716],
       [542.12897521],
       [527.93267314],
       [529.32560487],
       [525.16325825],
       [532.3209328 ],
       [565.2068678 ],
       [546.71159616],
       [545.41104085],
       [552.52533007],
       [547.88363572],
       [529.46641033],
       [568.21090196],
       [509.52134384],
       [550.72258227],
       [560.54602012],
       [526.97078014],
       [549.98379754],
       [607.10553801],
       [600.91717228],
       [309.77279099],
       [612.96573641],
       [612.98699322],
       [619.97130205],
       [618.31536051],
       [604.93850255],
       [621.0910808 ],
       [613.42146153],
       [586.626019  ],
       [626.64724374],
       [635.2878278 ],
       [639.47818641],
       [621.82078062],
       [585.05469583],
       [617.46533095],
       [625.81945748],
       [567.45233346],
       [610.12856192],
       [514.89772277],
       [515.36742785],
       [523.29687811],
       [520.80219373],
       [526.55242608],
       [525.61340117],
       [509.7162864 ],
       [639.29041123],
       [646.22348588],
       [643.25883261],
       [644.03274955],
       [645.02568803],
       [634.35722969],
       [635.45674836],
       [521.24139513],
       [644.1156698 ],
       [624.70478177],
       [643.15018234],
       [641.98199649],
       [646.02447424],
       [635.71446822],
       [650.59530852],
       [632.73252904],
       [632.52390515],
       [630.39202154],
       [424.26474154],
       [417.78777101],
       [623.87978025],
       [590.07289056],
       [585.12386868],
       [604.86693657],
       [576.95911043],
       [569.03828156],
       [502.80560087],
       [556.35849006],
       [330.0487468 ],
       [337.8320571 ],
       [594.6399738 ],
       [587.36683567],
       [597.81496103],
       [568.21048379],
       [599.79477168],
       [620.63907838],
       [617.01562893],
       [620.94056883],
       [477.70088145],
       [600.27783653],
       [455.30224145],
       [533.27648975],
       [563.48210208],
       [527.61403289],
       [581.57211298],
       [577.64724886],
       [572.46892817],
       [558.14156076],
       [528.4357934 ],
       [542.06680204],
       [563.75217331],
       [561.06682947],
       [512.94022573],
       [532.1267242 ],
       [516.02428466],
       [536.42190114],
       [541.2918851 ],
       [532.34927515],
       [512.98189867],
       [506.03282992],
       [591.18939437],
       [571.19744935],
       [592.58292391],
       [561.46364654],
       [579.50279637],
       [576.78083015],
       [517.8338681 ],
       [508.81757653],
       [537.72105219],
       [569.88980977],
       [533.031224  ],
       [569.30729368],
       [592.04563882],
       [579.36291985],
       [579.48167882],
       [563.92525547],
       [529.75907276],
       [526.63828149],
       [520.30247777],
       [542.18042474],
       [553.74563799],
       [535.68637794],
       [582.89211532],
       [572.57614422],
       [572.77691216],
       [540.54054925],
       [517.78425295],
       [469.83385202],
       [532.68396623],
       [541.74242517],
       [563.48489388],
       [575.64232381],
       [570.441669  ],
       [579.20334005],
       [586.64208665],
       [569.86906533],
       [577.0077898 ],
       [564.62470001],
       [566.03159949],
       [572.74761825],
       [553.35135609],
       [510.00913825],
       [514.96999522],
       [550.35778222],
       [554.9311302 ],
       [561.58837439],
       [552.99152349],
       [532.60085796],
       [543.63308918],
       [566.96881718],
       [563.78248695],
       [518.10897993],
       [540.73807359],
       [558.21875551],
       [569.12112037],
       [539.52574052],
       [505.36960329],
       [568.67176996],
       [580.68394193],
       [552.9826016 ],
       [574.22747336],
       [549.75981548],
       [542.80230655],
       [541.22331361],
       [519.64987126],
       [527.19216003],
       [539.84056333],
       [561.23235481],
       [553.83826961],
       [531.37730465],
       [561.40991608],
       [564.85695411],
       [572.25312074],
       [560.01026098],
       [561.49936749],
       [562.26043298],
       [570.95113219],
       [562.5961592 ],
       [543.74017994],
       [555.14719334],
       [541.56460195],
       [534.18647138],
       [530.52584737],
       [512.58789754],
       [499.29244925],
       [530.47160704],
       [522.76705918],
       [530.1023772 ],
       [537.21259072],
       [536.58606735],
       [523.20354549],
       [529.56327277],
       [506.59900223],
       [523.25644777],
       [506.36463929],
       [502.66258789],
       [513.24179524],
       [545.39120473],
       [548.86910701],
       [486.22650308],
       [548.33332276],
       [559.52827215],
       [519.32164245],
       [535.40796928],
       [535.59734936],
       [532.04404153],
       [520.50681645],
       [539.17133512],
       [530.38164021],
       [542.00225307],
       [552.47107512],
       [542.50065078],
       [538.45456086],
       [585.27159997],
       [563.45677558],
       [534.99867495],
       [540.40617308],
       [520.17676469],
       [532.66204859],
       [546.71050312],
       [545.18857392],
       [576.45561795],
       [571.88614893],
       [499.85318652],
       [553.45124407],
       [582.81892835],
       [573.72976186],
       [580.04483426],
       [573.0645307 ],
       [573.75947851],
       [570.00238576],
       [564.224035  ],
       [559.13911522],
       [547.88982487],
       [549.30949994],
       [545.91030949],
       [559.86244752],
       [538.37196709],
       [515.730952  ],
       [529.81485227],
       [542.45551482],
       [569.20511351],
       [555.71061165],
       [561.41090985],
       [542.4544214 ],
       [508.21790648],
       [505.40205234],
       [505.65341094],
       [509.48526111],
       [518.62987859],
       [527.18418169],
       [510.80081543],
       [517.95047093],
       [527.89903283],
       [550.06294984],
       [598.35973619],
       [599.64333097],
       [569.33676677],
       [560.4826088 ],
       [544.21718861],
       [575.11589238],
       [544.75367626],
       [558.95028555],
       [572.72646958],
       [578.24959991],
       [584.80188558],
       [510.29974376],
       [556.07994743],
       [547.6640308 ],
       [726.09747091],
       [730.99899499],
       [728.9118004 ],
       [722.23358628],
       [711.59789236],
       [692.70187067],
       [722.81111491],
       [693.58304166],
       [690.67428718],
       [689.97936745],
       [659.24864005],
       [496.80444467],
       [719.16876301],
       [719.11142727],
       [735.67803942],
       [714.81419566],
       [689.46864073],
       [748.73182226],
       [751.77831297],
       [748.08889389],
       [712.8419129 ],
       [746.02961905],
       [749.91796065],
       [746.92195594],
       [772.70558198],
       [748.52411281],
       [746.08918196],
       [745.78851975],
       [640.90889005],
       [749.14410629],
       [752.57694551],
       [744.95457006],
       [726.87457259],
       [744.08356967],
       [739.33136147],
       [713.31219154],
       [744.81395632],
       [738.92719372],
       [742.46589817],
       [739.83453104],
       [741.52636281],
       [740.4522572 ],
       [759.63645241],
       [676.3906687 ],
       [753.79506214],
       [748.1916348 ],
       [726.9918695 ],
       [748.44512691],
       [686.32717878],
       [759.22381635],
       [724.53339125],
       [684.28306284],
       [667.82867777],
       [546.09509976],
       [393.47750552],
       [411.76548367],
       [408.9824831 ],
       [579.8795678 ],
       [476.02171135],
       [407.83584994],
       [392.06774316],
       [494.22915519],
       [418.32158306],
       [405.85568985],
       [673.07349052],
       [668.70119829],
       [637.68356791],
       [367.20510794],
       [355.92989682],
       [383.61002989],
       [368.43948629],
       [388.1913258 ],
       [449.33099109],
       [430.84052709],
       [442.84396626],
       [448.75517704],
       [445.63997743],
       [458.45911059],
       [467.29108381],
       [476.65943378],
       [398.9699969 ],
       [389.11858473],
       [436.20568218],
       [741.47260908],
       [740.49711185],
       [733.99160311],
       [742.66369525],
       [736.86278597],
       [599.83634706],
       [414.41190423],
       [668.25321086],
       [735.17686227],
       [744.67346977],
       [657.81563841],
       [370.15615379],
       [704.32683481],
       [726.56121255],
       [725.98513198],
       [378.69203474],
       [411.72604552],
       [374.83630664],
       [363.49440203],
       [616.22668845],
       [731.86280614],
       [604.42824531],
       [728.79500265],
       [730.79277059],
       [732.24017702],
       [717.51741933],
       [643.9971521 ],
       [382.3426502 ],
       [678.92831574],
       [699.62337595],
       [712.82601014],
       [731.01954775],
       [733.85833117],
       [720.28285607],
       [697.47507818],
       [699.64261463],
       [656.12511183],
       [738.66223207],
       [702.45812346],
       [727.43037419],
       [724.68267701],
       [715.68135397],
       [719.68307312],
       [723.50950957],
       [691.60908032],
       [672.70156231],
       [697.42119355],
       [724.18549605],
       [698.15348663],
       [748.26300197],
       [706.36432409],
       [683.30771041],
       [748.81045867],
       [742.35620156],
       [590.65675922],
       [582.51023139],
       [569.26939498],
       [607.09771972],
       [604.12194215],
       [599.87530718],
       [605.16561814],
       [611.28125245],
       [551.22842774],
       [561.00456598],
       [571.99960732],
       [567.57015493],
       [563.84476452]])

#### 지금까지 한게 무었????
- 바로바로
- $y = b_1x_1 + b_2x_2 + b_nx_n + b_01$ 을 컴퓨터로 표현한것이답!
- 정확하게 말하자면
- for each i $\sum_{j=0}^{14}w_jx_j^{(i)} = X * w$